<h2>Name: <%= @driver.name %></h2>
<h2>VIN: <%= @driver.vin %></h2>
<h2>Total amount earned: $<%= @driver.total_earnings %> </h2>
<h2>Average Rating: <%= @driver.average_rating %> </h2>
<h2>List of Trips Driver Has Driven<h2>
